{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?familEstoniay=&display=swap" rel="stylesheet">
<style>
    #bootsrapoverrides {
        background-color: #420516;
        padding: 0;
        padding-left: 20px;
    }
    #navtext {
        color: #f0ced7;
        font-size: 30px;
    }
    #textfont {
        font-family: 'Estonia', cursive;
        color: #f0ced7;
        margin-top: 8px;
    }
    a:hover{
            color:white;
        }
</style>

<nav id="bootsrapoverrides" class="navbar navbar-expand-sm">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="{% static 'mainapp/images/navlogo.png' %}" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="navtext" class="nav-link" href="{% url 'navigation' %}">Vehicles</a>
      </li>
    </ul>
    <span id="textfont" class="ml-auto right navbar-brand">
        <h1>Navigation</h1>
    </span>
  </nav>


